<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true" optimizeCompilations="true"/>
        <httpRuntime/>
    </system.web>
    <system.webServer>
        <modules>
            <remove name="WebDAVModule"/>
        </modules>
        <handlers>
            <remove name="WebDAV"/>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
        </handlers>
        <aspNetCore processPath=".\Kimo.ZLApp.Web.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout"
                    hostingModel="inprocess"/>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true"/>
            </authentication>
        </security>
    </system.webServer>
</configuration>
